/* navigation */
.navbar{
    border-radius: 0px;
    background-color: #fff;
}

.navbar-inverse .navbar-nav>li>a{
    color: #eee;
}

.product-index {
    min-width: 550px;
}

.bs_drop_list > li > a {
    display: block;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.bs_drop_list > li > a:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.bs_drop_list {
    list-style: none;
    padding: 3px 20px;
    display: inline-block;
    position: static;
    float: left;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;    /* Set slide height here */
}

.form-control{
    border-radius: 0;
}

.form-control:focus {
    border-color: #1e1e1e;
    outline: 0;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);*/
}

.fine_nav_top{
    border: none;
    background-color: #1e1e1e;
    height: 85px;
    margin-bottom: 0;
}

.fine_nav_btn{
    color: #eee;
    font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}

/* hover on button */
.navbar-inverse .navbar-nav>li>a:hover {
    color: #111;
    background-color: #ddd;
}

/* press the button */
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: purple;
}

.navbar-inverse .navbar-toggle {
    border-color: #ddd;
}

/* small screen menu seperator */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ddd;
}

/*  small screen dropdown seperator */
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #ddd;
}

/* hamburger  */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #444;
}

/* drop-down header */
.dropdown-header {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


.fine_nav_bottom{
    border: none;
    background-color: #1e1e1e;
    margin: 0;
}

.jumbotron{
    background-color: #ddd;
}

/* <table> */

.table {
    /*background-color: #ddd;*/
}

/* search bar */
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    border-radius: 0px;
}
