.footer {
    border: none;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    margin-top: 50px;
    color: #FFF;
    /*text-align: center;*/
    background-color: #282828;
}


.footer .fine_footer_section .fine_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fine_footer_section {
    float: none;
    margin: 0 auto;
    padding-bottom: 50px;
    line-height: 1.8;
    color: white;
}

.fine_footer_hr{
    border-color: cyan;
}
