.news_post {
    margin-top: 60px;
    margin-bottom: 100px;
}

.news_post > h2 {
    margin-bottom: 30px;
}

.news_post > p {
    text-indent: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 12pt;
}

.news_post > hr {
    border-top: 1px solid #ccc;
}

.news_post > .date {
    padding-left: 20px;
}
