.products_table_row {
    background-color: #f8f8f8;
    border-top: solid;
    border-bottom: none;
    border-color: #ddd;
    border-width: 2px;
}

.products_table_image{
    max-width: 250px;
    max-height: 150px;
}

.products_table_head {
    background-color: #333;
    color: #eee;
    border: none;
}

.products_table_dropdown{
    background-color: #f8f8f8;
    border: none;
}

.products_table_col{
    padding-top: 10px;
    padding-bottom: 10px;
}

.products_table_addi{
    border: none;
    height: 0;
    margin: 0;
    padding: 0;
}

.products_sidebar{
    border-radius: 0px;
}

/* -------BS override--------- */
.panel-default > .panel-heading{
    background-color: #333;
    color: #eee;
    border-radius: 0;
}

/* Pagination */
.pagination{
    border-radius: 0;
}

.pagination > li > a{
    background-color: #333;
    color: #eee;
}

.pagination > li > a:hover{
    background-color: #ccc;
    color: #111;
}

.pagination > li:last-child > span, .pagination > li:first-child > span,
.pagination > li:last-child > span:hover, .pagination > li:first-child > span:hover {
    background-color: #444;
    color: #bbb;
}

.pagination > .active > span, .pagination > .active > span:hover{
    background-color: purple;
    border-color: purple;
}




.custom_table{
    margin: 0 0 50px 0;
}

.custom_table_header{
    background-color: #333;
    padding: 10px;
    color: #ddd;

}

.custom_table_row{
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    border-bottom-width: 2px;
}

.custom_table_left{
    width: 49%;
    display: inline-block;
}

.custom_table_center{
    width: 39%;
    display: inline-block;
}

.custom_table_right{
    width: 9%;
    display: inline-block;
    text-align: center;
}

.custom_table_additional{
    padding: 20px 10px 10px 10px;
}

.custom_table_hr{
    border-top: 1px solid #ccc;
}

.no_results{
    width: 100%;
    height: 50px;
    color: #ddd;
    background-color: #6a2727;
    padding: 12px 0 12px 20px;
    font-size: 14pt;

    margin-bottom: 200px;
}
