.slideshow {
    box-sizing: border-box;
    margin-bottom: 50px;
}

.mySlides {
    position: relative;
    display: none;
    opacity: 0.4;
    overflow: hidden;
    width: 100%;
    height: 475px;
}

.active_slide{
    display: block;
}

.slideImg {
    position: absolute;

    width: 1900px;
    height: inherit;

}

@media (max-width: 768px){
    .slideImg {
        margin-left: -350px;
        width: 1200px;
    }

    .mySlides {
        height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .slideImg {
        margin-left: -225px;
        width: 1400px;
    }

    .mySlides {
        height: 350px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .slideImg {
        margin-left: -150px;
        width: 1680px;
    }

    .mySlides {
        height: 420px;
    }
}

/* Slideshow container */
.slide-container {
    background-color: #111;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    position: absolute;
    top: 50%;
    left: 7%;
    width: 60%;
}

.text > .jumbotron {
    padding: 20px;
    color: white;
    background-color: rgba(20, 20, 20, 0.6);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 26px;
}

/* The dots/bullets/indicators */
.dot {
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.4;
}

.slideshow_dots{
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

.active_dot{
    opacity: 1.0;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
