body {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}

#navBrandImg{
    height: 250%;
    width: auto;
}

#navBrandImgCont{
    padding-top: 5pt;
}

.fine_search{
    position: absolute;
    top: 60px;
    width: 100%;
}

.content_wrap{
    padding-top: 0px;  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.container-fluid>.row {clear:both}

.fine_button{
    color: #eee;
    background-color: #333;
    border: none;
    padding: 7px 20px 7px 20px;
}

.fine_contact_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

/* override BS textarea */
textarea.form-control {
    height: 150pt;
}

/* old color #1c2885 */
